
.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}
.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 25px;
  font-size: 80px;
  font-style: normal;
  color: #1800ad;
}
body {
    background-image:url(/gatinhoteca/assets/img/Wallpaper.png)
}
nav {
    justify-content: center;
}
.galeria-gatinhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  padding: 10px;

}
.gato-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gato-card img {
  height: 150px;
}
.botoes {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
.botao-tenho {
    background-color: #1800ad;
    border-radius: 15px;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
    font-family:"Comic Relief", system-ui;
    color: #f7aff0;
}
.botao-tenho:hover {
  background-color: #16067a; 
  color: #f7aff0;
}
.botao-quero {
    background-color: #f7aff0;
    border-radius: 15px;
    border: none;
    padding: 10px 40px;
    font-size: 15px;
    font-family:"Comic Relief", system-ui;
    color: #1800ad;
}
.botao-quero:hover {
  background-color: #e57fdb;
  color: #1800ad;
}