
.just-me-again-down-here-regular {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Just Me Again Down Here", cursive;
  font-weight: 25px;
  font-size: 80px;
  font-style: normal;
  color: rgb(13, 4, 137);

}

body {
    background-image:url(/gatinhoteca/assets/img/Wallpaper.png)
}
#gatos {
    display: flexbox;
    
   

}
#img-gato {
    height: 300px;
}